/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Montserrat:wght@400;500;600&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #1c1c1c; 
    color: #e0e0e0; 
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffcc00;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    padding: 20px;
    background-color: #002147;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 14px 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topnav a {
    color: #ffcc00;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
    font-weight: 500; 
}

.topnav a:hover {
    background-color: #575757;
    color: #fff;
}

.follow-button {
    background-color: #125900;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 600;
}

.follow-button:hover {
    background-color: #22aa00;
    transform: scale(1.05);
}

.profile-button {
    background-color: #002147;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 600;
    border: none;
}

.profile-button:hover {
    background-color: #00428d;
    transform: scale(1.05);
}

#communityContainer {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#communityContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffcc00;
}

.user {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #292929;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.user h3 {
    color: #04AA6D;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 600;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.movie img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.movie img:hover {
    transform: scale(1.05); 
}

.movie h4 {
    color: #ffcc00;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.movie p {
    font-size: 0.9em;
    color: #e0e0e0;
    text-align: center;
    line-height: 1.5;
    margin: 0 10px;
}

.star-rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.star {
    font-size: 1.2em;
    margin: 0 2px;
    color: #ffcc00;
}

.star.filled {
    color: #ffcc00;
}
