body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 14px 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.topnav a:hover {
    background-color: #575757;
}

.topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
}

.profile-button {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.profile-button:hover {
    background-color: #037b52;
}

.genre-button {
    margin: 5px;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.genre-button:hover {
    background-color: #005f73;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#container img {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
