@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Montserrat:wght@400;500;600&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffcc00;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    padding: 20px;
    background-color: #002147;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 16px 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.topnav a:hover {
    background-color: #575757;
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.follow-button {
    background-color: #125900;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 600;
    border: none;
}

.follow-button:hover {
    background-color: #22aa00;
    transform: scale(1.05);
}

.settings-button {
    background-color: #002147;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 600;
    border: none;
}

.settings-button:hover {
    background-color: #00428d !important;
    transform: scale(1.05);
}

.logout-button {
    background-color: #45100e;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 600;
    border: none;
}

.logout-button:hover {
    background-color: #c9312c84;
    transform: scale(1.05);
}

#profileContainer {
    text-align: center;
    margin: 20px;
}

#favoriteMovies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie {
    background-color: #1c1c1c;
    border: 5px solid #002147;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
    width: 80%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.genre-button {
    margin: 5px;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 500;
}

.genre-button:hover {
    background-color: #005f73;
    transform: scale(1.05);
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#container img {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

#container img:hover {
    transform: scale(1.05);
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 600;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #c62828;
    transform: scale(1.05);
}

p {
    color: black;
}

h3 {
    color: black;
}

h4 {
    font-size: large;
}

.star-rating {
    color: gold;
}
